.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
}

.content {
    margin-left: 10px;
    margin-right: 15px;
}

.head-3 {
    font-size: 20px;
    text-transform: uppercase;
}

.head-2 {
    margin-top: 15px;
    font-size: 30px;
    text-transform: uppercase;

    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.head-2.active {
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}

.imd {
    background-color: rgb(255, 166, 1);
    padding: 2px 4px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}

.number {
    margin-left: 15px;
}

.last-div-2 {
    margin: 10px 0;
    display: flex;
    margin-right: 25px;
    justify-content: space-between;
}

.lorem {
    line-height: 1.6rem;
}

.read {
    color: orange;
    font-weight: 600;
}

button {
    margin-top: 40px;
    background-color: rgb(255, 166, 1);
    border: 2px solid orange;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 25px;
    cursor: pointer;
}


.carousel-box {
    position: relative;
    display: flex;
}

.carousel {
    position: relative;
}

.carousel-item {
    width: 250px;
    cursor: pointer;
}

img {
    border-radius: 10px;
}